$background-color: #fff;
$center: 5vh;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $background-color;
}

header {
  margin: 10% 0 0;
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-size: 1em;
}

h1 {
  margin: 0;
  color: #ff0002;
  font-weight: 500;
}

h2 {
  margin: 0;
  color: #2b2928;
  font-size: .8em;
  font-weight: 400;
}

@keyframes pulse {
    0% { transform:scale(.9);}
    100% { transform:scale(1);}
}

.hole {
  // background: #fff;
  background: $background-color;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 120px;
  margin-top: $center + 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 9999;
  animation: pulse 2.4s linear 0s infinite alternate;
  animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

@keyframes spin {
  0% { transform:rotate(0deg)}
  100% { transform:rotate(360deg)}
}

.logo {
  position: absolute;
  width: 300px;
  margin-top: $center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.orange {
  z-index: 3;
  animation: spin 5s linear 0s infinite;
}
.blue {
  width: 320px;
  z-index: 2;
  animation: spin 8s linear 0s infinite;
}
.white {
  width: 320px;
  z-index: 1;
  animation: spin 12s linear 0s infinite;
}
